table{
    width: 80%;
    margin: 40px;
    border-collapse: collapse;
    font-family: Arial,sans-serif;
    border: 2px solid black;
}
th{
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: left;
}
td{
    padding: 10px;
    border: 1px solid #ddd;
    border: 2px solid black;

}
tr:nth-child(even):not(:first-child){
    background-color: rgb(84, 84, 143);
    color: aliceblue;
    border:2px solid black;
}
